table {
    text-align: center;
}

table img {
    width: 30px;
    height: 30px;
}

table th {
    width: 50px;
    text-align: center;
}

.layui-table td,
.layui-table th {
    padding: 9px 2px;
    width: 140px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
}

.layui-table[lay-skin=nob] th {
    text-align: center;
}

li {
    margin: 2px !important;
}

.red {
    color: #ff1414 !important;
}